<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Gotta Catch 'Em All!</h1>

  <h3>Pokemon Name: <%= pokemon.name%></h3>
  <h4>Pokemon Color: <%= pokemon.color%></h4>

  <img src="<%= pokemon.img%>">

  <a href="/pokemon">go back</a>

  <style type="text/css">
body {
  color: blanchedalmond;
  background-color: steelblue;
}
  </style>

</body>
</html>